body{
  border-style: dashed;
  margin: 0;
  padding: 0;
}
/* Logo */
.logo{
  width: 70px;
  height: 40px;
}
/* Navbar */
nav{
  margin-top: 25px;
  margin-right: 80px;
}

li{
  border-right: solid;
  border-width: thin;
  margin: 0;
  padding: 0;
}
a{
  font-family: Panama;
  font-style: normal;
  font-size: 18px;
  text-decoration: none;
  padding-left: 10px;
  letter-spacing: 3px;
}

/* Primera seccion */
.seccion1{
  border-style: double;
  padding-bottom: 160px;
}
.articulo1{
  /*border-style: ridge;*/
  margin-top: 145px;
}
.title{
  text-align: center;
  text-decoration: none;
  font-family: Vicasso;
  font-size: 90px;
  /*border-style: dotted;*/
}
p{
  padding: 50px;
  /*border-style: dashed;*/
  text-align: center;
  text-align-last: justify;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  word-spacing: 4px;
  line-height: 1.9em;
}

/* Segunda seccion */
.seccion2{
  background-color: #97b0b3;
  padding-bottom: 50px;
  border-style: double;
}
.title2{
  text-align: center;
  text-decoration: none;
  font-family: Sovereign;
  font-size: 70px;
}
.articulo2{
  margin-top: 80px;
}
/* Tercera seccion */
.seccion3{
  background-color: #e09ed8;
  border-style: solid;
  padding-bottom: 200px;
}
.title3{
  text-align: center;
  text-decoration: none;
  font-family: Museo Slab;
  font-size: 60px;
  margin-top: 50px;
}
.imagenes{
  border-style: dotted;
  margin-top: 100px;
  
}
